/**
 * Import Bootstrap styles
 */
@import "bootstrap/bootstrap";


/**
 * App master div
 */
#app {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}


/**
 * Components
 */

// Navbar top
.c-navbar {
    position: sticky;
    top: 0;
    z-index: 1020;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.3);
    background-color: var(--st-body-bg);

    .navbar-brand {
        width: 86px;
    }
}

// Offcanvas navigation
.c-offcanvas {

    &__logo {
        width: 68px;
    }

    &__footer {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-top: auto;
        margin-bottom: .5rem;
        padding-top: 1.5rem;
        border-top: 1px solid $gray-700;
    }

    // Theme switcher
    .color-scheme-theme-icon {
        width: 1em;
        height: 1em;
        margin-bottom: .1em;
        fill: currentcolor;
    }
    .active .color-scheme-theme-icon {
        display: block;
    }
}

// Header
.c-header {}

// Logo
.c-logo {}

// Footer
.c-footer {
    margin-top: auto;
    border-top: 1px solid $gray-700;
}

// Cookie banner
.c-cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $black;
}

// Contact form
.c-contact-form {

    & &__textarea {
        height: unset;
        min-height: 150px;
        max-height: 50svh;
        field-sizing: content;
        resize: vertical;
        scrollbar-width: thin;
    }
}


/**
 * Icons
 */
.c-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentcolor;
    fill-rule: evenodd;
}

/**
 * Print
 */
@media print {
    .c-navbar,
    .c-offcanvas,
    .c-footer {
        display: none !important;
    }
}

/**
 * Import dark theme style
 */
@import "dark-app";
